html, body{
    margin: 0;
    padding: 0;
}
/* Fonts
font-family: 'Geostar Fill', cursive;
font-family: 'Libre Barcode 39 Extended Text', cursive;
font-family: 'Major Mono Display', monospace;
font-family: 'Megrim', cursive;
font-family: 'Turret Road', cursive; */

/* Use space style font */
body {
    padding-top: 1em;
    text-align: center;
    background-image: url("./img/game-background-2.avif");
    background-color: transparent;
    background-size: cover;
    background-repeat: space;
}
h2 {
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    /* font-family: 'Major Mono Display', monospace; */
    /* font-family: 'Megrim', cursive; */

    color: rgb(255, 255, 255);
    font-size: 55px;
    /* box-shadow: 0px 0px 5px 5px rgb(0,0,0); */
    text-shadow: 1px 1px 10px whitesmoke
}

canvas {
  background: url("./img/abstract-cyberpunk-animated-background-free-video.jpg");
  background-size: cover;
  background-color: transparent;
  width: 100%;
  height: 110;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgb(0,0,0);

}

#container {
    max-width: 65em;
    background-color: transparent;
    margin: 0 auto;
    padding: 1em;
    display: grid;
    border-radius: 5px;
    grid-gap: 1em;
    grid-template-rows: .20fr .6fr .20fr;
    grid-template-columns: .20fr .6fr .20fr;
    grid-template-areas: "top-a top-a top-c"
                         "game game game"
                         "b-left b-middle b-right";
}

#top, #top-c, #b-left, #b-middle, #b-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; 
}
#start {
    width: 100px;
    height: 40px;
    font-size: 25px;
    font-family: 'Geostar Fill', cursive;
    color: rgb(255, 255, 255);
    background-color: rgba(1, 1, 1, 0.643);
    margin: 0px;
    border: 0px;
    border-radius: 25px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}
#start:hover {
    background-color: rgb(177, 19, 19);
    transition: .5s;
}

#instructions {
    width: 350px;
    height: 40px;
    font-size: 35px;
    font-family: 'Geostar Fill', cursive;
    color: rgb(255, 255, 255);
    background-color: rgba(1, 1, 1, 0.829);
    margin: 0px;
    border: 0px;
    padding: 10px auto 15px auto;
    border-radius: 25px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}
#instructions:hover {
    background-color: rgb(177, 19, 19);
    transition: .5s;
}

main {
    grid-area: game;
}

#top {
    grid-area: top-a;
}

#top-c {
    grid-area: top-c;
}

#b-left {
    grid-area: b-left;
}
#b-middle {
    grid-area: b-middle;
}

#b-right {
    grid-area: b-right;
}

.rotated {
    transform: scaleX(-1);
}